---
---
<!DOCTYPE html>
<html lang="en-AU">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self'; img-src 'self'; font-src 'self'; connect-src 'self'; form-action 'self'; base-uri 'none'; object-src 'none'" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="color-scheme" content="dark" />
  <title>About Ryan Duguid, accountant in Newcastle, NSW</title>
  <meta name="description" content="I'm Ryan Duguid, an accountant in Newcastle, NSW. I build open source accounting tools. I'm a Provisional CA ANZ Member and a Xero Certified Specialist, Level 3." />
  <meta name="referrer" content="strict-origin-when-cross-origin" />
  <meta property="og:title" content="About Ryan Duguid, accountant in Newcastle, NSW" />
  <meta property="og:description" content="I'm Ryan Duguid, an accountant in Newcastle, NSW. I build open source accounting tools. I'm a Provisional CA ANZ Member and a Xero Certified Specialist, Level 3." />
  <meta property="og:type" content="profile" />
  <meta property="og:site_name" content="Ryan Duguid" />
  <meta property="og:locale" content="en_AU" />
  <meta property="og:url" content="https://duguid.com.au/about/" />
  <meta property="og:image" content="https://duguid.com.au/assets/social-card-site-20260924.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="OLED register card: Open source tools for Australian accountants" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="About Ryan Duguid, accountant in Newcastle, NSW" />
  <meta name="twitter:description" content="I'm Ryan Duguid, an accountant in Newcastle, NSW. I build open source accounting tools. I'm a Provisional CA ANZ Member and a Xero Certified Specialist, Level 3." />
  <meta name="twitter:image" content="https://duguid.com.au/assets/social-card-site-20260924.png" />
  <meta name="twitter:image:alt" content="OLED register card: Open source tools for Australian accountants" />
  <link rel="canonical" href="https://duguid.com.au/about/" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32.png" />
  <link rel="icon" type="image/png" sizes="48x48" href="/assets/favicon-48.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96.png" />
  <link rel="apple-touch-icon" href="/assets/favicon-180.png" />
  <link rel="alternate" type="text/plain" href="https://duguid.com.au/about/index.txt" />
  <link rel="preload" href="/assets/fonts/Besley-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/assets/fonts/PublicSans-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/assets/fonts/SplineSansMono-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/assets/fonts/PublicSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="/assets/tokens.css?v=20260924c" />
  <link rel="stylesheet" href="/assets/site.css?v=20260925b" />
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>
{% include site-header.html %}
  <main id="main" class="site-main">
    <article class="article">
      <header class="article-header site-shell about-header">
        <nav class="article-crumb" aria-label="Breadcrumb">
          <ol>
            <li><a href="/">Home</a></li>
            <li aria-current="page">About Ryan Duguid</li>
          </ol>
        </nav>
        <h1>About Ryan Duguid</h1>
        <p class="lead-note">I'm Ryan Duguid, an accountant in Newcastle, NSW. I build open source tools that check Australian tax, payroll, ledgers and workpapers. Each tool shows its sources and working, uses fictional examples and leaves the judgement and lodgement to a person.</p>
        <p class="page-meta">Last reviewed 24 September 2026.</p>
        <div class="about-portrait" role="img" aria-label="ASCII portrait of Ryan Duguid"><pre aria-hidden="true">

                                                                                              `''.     .,,'...
                                                                                         . .                    .',li:
                                                                                 .
                                                                          ',:`           . `'`...'               ..        `::
                                                                       `:           ;'`^'.',^,III:,'.`.     .  .   '^,^^:;;`  .I~I
                                                                    :: `                      `,;;,,`.' .'``.:I^`'.   `,,:;,;I:.^,I!,
                                                                 ^~;`.                          ^^,:;II;III,:,```,::,^,''`. '.,l::;!:!!
                                                              l~!`                                    .`,,,`'''.   .`,:;;,'^^,:^`,;III:!I
                                                          ;+[i.                                              .. .'.'^'`''^:,:;!!I::::Il;li~'
                                                       ._([:                                          ..``:IIIll!II;;^```,^^,;I!lI^'':;I:;;i!
                                                    ,l+]1^                                            ``.,;,,,;I,.'.'`'        .'``^`  :::,:li!
                                                 'l+-_];                           ',,``'`.              .'                      .. .'     :^;!+^
                                               .l-1(/!                    `,:ll!?-1()11[[]-+!;^'         ``;^:,`^^^..   ',^`;l!l;^,^'.``'    ';!!!
                                              ,]1(]II:.               ^;l+]]])/jxxxuuunnnxf/(1-+i++-?+~~!;;;!llI;III;ll;:;;I,``;II:::::,^^.    ^;!!,
                                             ,(/t+                 :I~][1(/fnuuzYYYYUJJJUYzzuunnxf|((//f|([)-II+!i?i+-!I``^,::;;lii,,`,,+[,'    .'`:I
                                            Ifj-                :l~-[)/||ruccYUUJJLQ0QOQQQQLJUYYYYJUzcuvXXcuzUjt1(-[+)ft)1~I:`'.`;i?)!`  :/[:        ;,
                                          ^+!ut]`            .:!_]1))/ffnczXUJLQ00OOZZZZZZmZOOZOQ00QQQLLJJCLCJnUJcxf[([xzzuf1_!I,.  `_|[;   ;^         ;
                                        .l~ff: `           ^;l+])(/ttfrxucXXJQQQOZZwqqmmqqpqqwqqpppwwwqqwmmmmZ0UQOOmQvx1/zYOQXx(+l:,' ;_uz+        ,    ,
                                        `+[/i: .         `Il!~-])(/trrruvzYUCQ00OmwppppbbbbbbbbbkkkkbbkbbbppppwZLwwwqpbdzLQOwwkw0v/!II:I~|wmf       ^    ,
                                       ,i-!/I  '        Il!i~-]1//trnnxuucYUC0Zwwwqpqdbkkkhhkkhaaooooooaaahhhhkkbqkhoo*#@Wmaao##*okOx_!?i!)YZdv`          `
                                      !~l]!:   '      `lli~~+-[)/fjxnunuczYJL0Q0mwwpdbbbkhaaoo*#MMMMMM#MM##**###WMo#WW8W8@8MB$W8BBBM*dJ)]~))x0M*J)~   .   '
                                     ;_![_           `i~~~i~~_[)|frnuuuvzzXUCQOZwwqddbkkhao*#*#WWBBBBBBBB888WWMWWWWM8WBBBB@$$$$$$$$@W8@*mCunuJkMWkQY  .   `,
                                    '_++I.          `~__~iiii+?1/jxccvvzzXXUJQ0Owwwppbkkao##MW8B@@@$$$@BBBBBBB@@@@@@@@@@@@$$$@$$$$$$$$BBBB8M#o**#abmO:'   'i
                                    ??~I           ,;~++_+i~i~_[(/fnzXXXXXYJCQ0Omwwpdbdka#**MMWW8B@$$$$@@@@@B@$$$$$$$$$$$$$$$$$$$$$$$$$BBBBB88M##*adqwt,`  ^`
                                   '?1!I,         .I!~~~+_+~~~_]1|/xvczYYXYJL0OOmqpppbbkao*#MWW88BB$$$$$@@@@@$$$$$$$$$$$$$$$$$$$$$$$$$$$BBBB8WMM**akpqw(-i.,!
                                   if-,!: .       .:!ii~~~~~+__?[(trucYYYYUCC0OZmwqppbkkkhoMMMMWW8B@@@@$$@B@@$$$$$$$$$$$$$$$$$$$$$$$$$$$@B8BB8WM#*akpqqY[[lI~I
                                   [([]- .        `,I!!!!!ii~_-]1(tjjuYXXXYCQ0OOmwqpppkkh***##MMM88B8B@$$@@@B$$$$$$$$$$$$$$$$$$$$$$$$$$BBBBBBBW##*ohbpwQ/_iI~^
                                  l||]~+:        .'`:;IIl!!i~+?[[(/fjruzXYXCLQOZmmmwqpkbhao*##MWWW88BB@@@@BBB$$$$$$$$$$$$@$$$$$$$$$$$$@BBBBBBBWMM#aakdqqc?~i~
                                  !t(_: .         .'``;III!!!~-1[)/tjjnczXYLLC0OZOmwwpdkkkao###WWW888BBB888BBB@$$$$$$@@@@@@@$$$$$$$$$$@B@BBB8W#MM#oakdqwJ?+l~
                                  +[/i ~I          .'^,:;;l!!!~]1)/fjxucczYUYJQOOOOmwwpdkkhaoo*WWWW88BBBBBB88@$$$$$$@@B@@@@$$$$$$$$$$$$@@BBB8#M#MM*akdqqZ(!i~
                                  (/jI  `           .'`,:;;;I!i-[[|/jnuczzYYYJLQO0Omwpdkhaaao**#MWM8BBBBBBBBB@$$$$$@B8@@@@$$$$$$$$$$$$$@@BBB8WWWMM#*abqqZf?++
                                  /rtiI;'             .,:::;Illi-[(|jxncccXYYUJQ00Omwpdbhaaho*##MW88BBBBBBBB8B@$@$$@BB@@@@$$$$$$$$$$$$@BBBB88WWWWM#*adpqmj+~~
                                  )n/(I'               ,`^;;;;Ii_?1|rrnuccXYYJJLQ0mwwpdbhaaho*##MW88BBBBBBBB8B@$$$$@@@@@@@$$$$$$$$$$$$@@BB8BWW8W8#**akdpqu~~;
                                  j)Ix_^               ..'^:;;IIi_?1/tfxvzXzYJLQQOmwppdbkhhho**#W88888BBB8WWW8B@@$$@B8@@@$@@@$$$$$$$$@$@B@*habbkkhao*hdpqU~~.
                                  ~z,f~.                 ``,::IIi+?1(/frcYYYJCLQOmqpdpbkkkhh***#MMBWWWMW8M#*a#MWB@@B@8888W*M8Wadpmm00ZZQOCJC0ppwwwZ0wpkbpZ]+
                                  :Uu+  !               .'`,,,IIl+-?[|ffnYJQQLQOZmpqmOwqqwqZ0QQOYXQbdwko*aaaka*#B8WWM***opZZcrr(|f[!l:,,`,;!?(tfjtxzXnuLqp(_
                                   xL],!                .'`,::III~--]1/jxvuuxvznrnunxr/[--llII`:~])uzzCZwmmpwpk**o**opqwOCuff)-;.. .:l[|rvzzzzXzvj|1(-i-tbY+
                                   :Cf!-                 .',::I!ii+_][[]?()[-)/)]+l;'    '     `:l?1vrrCUz0QQZpbkaaakdmJXfjj)?]-?/xzJLmpbaaha*ahkkkdLzt--cZ-`
                                    zj!!  .              .``:Ili~~~+!:;,`'``,;:,;I~+-]1///(|[-!II!+-[)(r/nczXU0wpbbbbOLYcxjft/fxurjjrncvvuJZpbbdpkhbdpZuczpfI
                                    -L]i .               .`,:I!!+iI^   .'I!i~?)tuUJ0ZmmmmmOCXznj|-~i~i-]]//jxXQwkaahkw0Xuxjrrf1-[tx/)(|tf||())(xYLO0ZmmQCOpY+
                                     cu~,,                `,:IIll:`   .,I_-)/truvYQQQ0OZJznnf/111tt)]_!;I+?1fzQp*WWM*kqUuxn/]?]!.   _!l, ,   ;]-;[ncU0Ommmwdf.
                                      qt-~`               `,:;II;'   ^;I!+-]|/tff)?+,       .:~)(_I~?]-!;;i-)xCp#@B@B*mUurt)?!l/iIi  Iu~ uwOf'  `I[fXJmpdbddQ(
                                      1wj/:               `^,,:::,,;IIlI!+---i,         :zJ)1Lr~,I-[?__!::li]fYmk#@@B#bCQCt__fYmX~(~^:-~)qYt|]//frxnU0dhaahkkcd$$$Q.
                                       0Ur~`            .',:,,,,:;!i~!ll!I,       ,~ `I   ,I0#mOx);,??(1+l+~-|XmkoW8BWMkkCJUujxjnczuQCYjj|U0k#MMahooa#WM#**hhZO#Wda@i
                                       !Z/j+            `,:IIII;;!~_--+~!::I!__]()[-?1]frfnvzcYLJzzXYYurj|)[1fcLwka#MWW**#okdw0QOmpda*M#B8W#**oa**W8WW88@MahhbZazI/Z@
                                        ]Qux:          .^,;I!i+]1fuXzcvr/||(/jccJ0OmpkkaaoMW*ahbpwmmO0Juxrt/tfnJOda#MWWW*o**ahdwOOOQQ0OOZZmwdbo#W88BBB8888#ahkpOUYjnoX
                                         qmk/`.        `,;;li!i-]|frnxncUCCYcjfftfrrcczzXYYYJCQOmwwwmOJUcxjfffnY0dh*MWW88**#MMM*o**###MWWW88BB@B@$@@@BBW8W8okhkwpqLzo#
                                  `rYzxf/());.         `::l~~-])|txnucYCLOwbhaahpmmmm00QOwpkahoaoahkdm0YcxrjftrzQqkoM88BB#*##@$@BWW888WW8888BBB@@$$$@BBWWWW#oohbkabzq$
                                 uY[-??1/f/)i         ,,::!__?[))/rnuczXLOqbk*#MW8BBB8MMMMM#####*oahhqQXuxrfttrzQwk*W8BBB8M##MBBB@@@@BBBBBBBBBB@@$$$@@B888WW#*appM*Zh$
                                Lx_[l    ;~][+'       ,'^:l~-?]1)trxvcXYC0mqpho*MW888BWWWWWWW###*oaabmQYurftftxzLmka#MBBB8WM##WBBB@@@BBB8B8BBBBB$$$@B@@8W8WMM#*hw8WbM@
                               !J(]+i;:`.   :!+.      .'^^;i-?](tjrrucXzULOmppbo*MWW888888BBB8MM#*ohpZLYcxjt/frzJOqh#WB@@BWW#*MWBBB@BBBBB88BBBB$$$$$$$@@BWMMM#*hw#BhBa
                               p]z/()-++[-!   ``       .^,:l~-](rrxxczXU00Owpdko####MBBBBBBBBB8WW#*kpZJzvr/)1/rcJZph#WB@@BB8M**MBBBBBBBBBBB@@@$$$$$$$$$$@B8MM#*opZ$W8#
                               p?zxn/]_1rf/],            `,Ii-[(rrxvzYCLQ0mmddho*###8BBBBBBBBB88WM*hpOJvj//1])fvLwdh#MB@@@@BW#**#WB8B@B@@@@@@$$$$$$$$@$@@B@WM**#av$$M$
                               0]zrcf?_fuunt)-`           ':I~]|trxucYJJL0Zmqdkho*#M8BBBBBBBBBBBBM*adQxt///f/)fcLmdh#8@$$$@BW#*oaahka*#MWB@@@@$$$$$$$$$@@8BWM#*ah0B$#$_
                               _fvxUr]]fccc/]l            `:l~?1(tjxucXUUL0Zwphaao#MW88BBBBBBBM#*apwQx)/uzccxtjvUZqhMB$@$$@BW#****apqddk*##8@@@@$$$$$@@@@88M#*ohamM$8Wo
                                CtzXx]1uJzc/-:.            ^;i+]1(tjxxczJJLQOwpdkho*##MWW8WWM#*aadwOY|tzzcujt)|jcCZbaMB@@$$BW#oao**kpwmmqpba*#MBB@@@@@8B8###*oakkJQ$8o$'
                                ~zvcx-|JQXn/-~?I  '         ,I!i?[)(|jrnucYJLOmwqpkkho######*ohkdpqOc/unxjt([-_-1fuU0pkho*akkpppdhhaahwQQOZwpkao#W8888WWM#*oaakdpXjMb#$)
                                 xxzr+1UUnx/[(1!,,'         .:;l!+-))/jrnuvvYUCQQOqkkhaaaaaakbppqwmQj1)))1[]-_!I;I+1fuXQmqwZLcXU0Zw#@B*mXuzYQZwdho*####**aakbdqwmJ]Z#@$r
                                  mvx~_zYxrt|t(ilI`          .,:;!~-]1|tfrxxczYJL0Zwqdbkhhbqmmwmm0QJx~_+_~~I'     !-)trvJJJY!  ~[ck@B88*dYjfuUQZwdaaoooaahkbdwmwpu-Q@$$)
                                  ufX);/Ycrf|/j[i,`           ^,,:I!~?[1)/tjxxnXULQQOmwwqwmZ000QQQJc/: .`.          !-??1txj(]+[cpa*##W8@#qYrxzCQmqdkkkkkbpdpmmwpjik$8@~
                                  [ruz?I[xnr/[]]~'             ``,:l!+_-[[)tjjrucYJJLOZOOOOOOZmmOLYcx(~;`.  ',,,``   :i(ncrj/trrnJwd#**M8B#aOxfrzLZwqbbbbbbbppqwmt:k$B8k
                                   n/zc[Ii1rn(1/|)I          ..`:,,Illi~_?1(/frxuzYUJQQ00O0wppdpmLYun|+?~!lli:!lll!_-)|r//(fjzccncxmYbkqk*#*apYttxzLOwpbbbbbqpdwOui*#8W$1
                                   'ftzXf-~~1fjf/)?:          .,,I;I;l!i+?[1tfxnuzXYYJCLQmpddppqZLXxt)~]-!I_+!---_!!]/]_(/x(]tru[jxuQOdwOmbkkkdZj/jcUOmdbbbkbbbpUn~Z****
                                    I)(uXc|(jxrjf(?!'         ``::,I~i~_?])/tjcXYYYYYYJLZwmmmwmLJXrr)1-?II;[-~l~_])++1i;?IrY|i/ff_|ffnLQOQpbbkpmwUrjcQmdbkkkkww0Qf~uLYt
                                     'j[tr(txxxrxf(-;          ',:I+~~~-])/juvcYYYYYYJ0YzJJ0OQzunf1()?_I'l:)[?]+!i~,]]^;+1-]1[)|cj)t|YcCOJU0Z0OZhm0XcJmdkhahkqqvuu',
                                       rB/|frxrxrt/)~,        ^ `:~!l+-[])/rvcUJUUcrzYurUJvwff(]1/(1-)il`]!,?[[;li,;(/l :+[fnfz1-uxc-ZCXQuxLJJQmqpQOvuCdaaakkbpcnnl
                                        t+-[||||([?+!,          '::!+~~]+[/vzJCJUcr/||trcrvQ?_?_]1?|ii;:;_)I,l(~!;I(uutj]-1[r)r~?[?t)rcfuj|xjtncYCCwpLQphoahqwQzz|-:
                                          ,:;;;::'....  +1'` .  `,`!;:;+!](xXC0m0j_])|(frnxr?i-]l(I+:,!' `:-I;~)[(fXUXXYvntf|]?-]_](tfnrf|[[|/ruYcucQLwkhakbmqCfj(_,
                                                         r~!;l  '`.;,`,I;![trYmqQ[---1[)[))f_;,^'`^':.''.  ':;Il!!i~!__(rcu||zYt)zf_i       :!+_)|cUCJdoakdmOYjun|i
                                                         :Q~`l      '`;:;`-[|zQQcf[?-]+]+IIi            Ii]I/cmbxUQmwa0M$$*bZWdZCJzr/]/fcOO00QCXnvXOwpbkakqJJxt[n[I
                                                          $r'I.     .^,,,:I!)jcJLXj(I(1_-[]?_+~i!l:,,^`;-1)]rXCCr0qkkbwp*MadZpddpwqpddka*MMM#*bwOYmQpaahkqLCrxj](],
                                                          pC)i      '`^,,: l~1fcLYnf|u(nUJYzcr|)|/|t/|/tfruYQ00mdkhoo**##**#MMM#oo****#####M##abm0QQk*oaqOYJc|]?~]
                                                          Omuj!       .:`. Il+?fvrnfrjnYLLJCZQXrt|/frxuczzYJCCQOmph*##MMMMM#####M#*******###M#*apC0QqppqZJcn)/+li!
                                                          LOYjY1I      .'  `:,I-|tjux|/tXYCLL0ZQXnjjfrnuvcYJQLOZmwdbkkhoaaa*aaa**ohao*****###aohLzzQQZQCL|nf~]?I;
                                                          uCxjc?- `'       ',^,;~[1(r|//fYnruYJ0JUcnrffxxnucXJ0QOQOJQYYLJJOmZmZmwbkaoaooooo*apkp0J/XxcYxt[n]l[!:
                                                          fmj[r],]`^          .`,!!_-++(nzznucXjzLUzrjrrffttt/tfrvnYunncXYvnxfrnUQQqmkahbha*kdwOmX(u?ucx[r[!iI;
                                                          ~p||x|i^][.          '.`,I~~-]](x)jxvfxzXzzzunjjf(]-]|f/1f|ufuzx/(frf/(JUCOOZZwdhobwLXY)/)]ff?)(!- !,
                                                          Ihff[([I !:              . `,i?~-?fxunfzzYcxuccuu(-|))-~rr(cjr/|r(/tftfYZQ0QOmpmqbkZcJz/+:(-!/[__ ,I
                                                          `Wj)_i[t_:I   .             ,!:I_-]cuunCzUYzcvvnjxfjf(|/f//fxt|)//xnYXvuJQOpwddwOqpmJzu+~li;--:+^I:
                                                           ou?-:`~~l?I;.              ,' `?I~1xnuXzOOCUUYvjnxcvccXcfujrnf/uXOZOwZOmqqwZqahmZLCJn[~l^, _ `i;`
                                                           az1`l  I.i,,,.                 'I+)](UzQwQUCZCLQJL00JOL0COmYzYQQwhokokhaoapwqpwqJYrtt-:~:. , ::.
.......    ...............                                 dU(:      .:  .                  ++-1rzuXCmQLJOQCCQL0qmZmqpwXQmZwkok*hkdbkkwpbOU0u|(--,l^'` .`
.........................................                . kQ(I                              I;~t)[tcYXUOOQY000QOOZmdbmLOpaaaaakqmmwwmQXYLuxr1?1|I ..::`
........................................................   pCt:                               ~I!-/||ttuYJ0JJQQJ0L0wZwqpphoaaodppZOOLUXzczr/|];;;,   l.
......................................................   ^rhQul.                               `;,:I!1/|jxuccJLUOq0qpkwbkhkpdkmCYOCJxxrr//ti_!` : .',.
......................................................  QO,mmj]                                 .^'^+,~][~n)rrjCJCq0qmwZmO0UYJmzYOJX/1|1-~_,+`     .
'''''''''''..........................................  wbt jC|+, .                              '     'il!-1i]~truYnULQYcujzYncxnvjj?(?i,~~`.,   .'
''''''''''''''''''''''''''''''''''''''''''''''''''''. /$zn.']?l`.'''``                               ,:I::`!l`+??r(?nrf/1])[1//(~[/]~l:;,  `.'l ^.
'''''''''''.'''''''''''''''''''''''''''''''''''''''. l$qnvu`^:`````^,^`..                              '    ,!i!,(-?1/]+?I~_[)ii!!_ ..^.   .  .+
```````````''''''''''''''''''''''''''''''''''''''''  @WOcnzYi`:,,,,:,`^,,,`` .'                              ' ;-`,:l,!`,,^+:I,' ' . .'      izl
````````````````````````````````''.''''''''''''''.. pMpJuxvYJ),:;I;I::;,;;;;:,^.                        .        ''  ^' ^ I'           .   ,fCc .........
```````````````````````````````````''''''''''''''. 0$pLvxunzJmu!Il!l!!II!i!!::l::`.                              `        `              ^)rxvr  ......................................
````````````````````````````````````````````````` cBppCvxnucYLpw)i~_ii~~+~_~!!ll;I'  ..                                                +-)rxvY)  .............................................
``````````````````````````````````````````````,.  hbp0YuuuuXCLmpk0-_]?-__--_-]+ill:;:^`'       ..                                  ;![(((/uzXY: . ......................................................
```````````````````````````````````````````.:l.  [bmLznnuczzJQOwqbhz_-?????]]~---+!!!!:,,,,`'''''''''. .`,' '``'   .`'        ` :i!~?)11jjUuzJz  .............................................      ....
^^^^^^^^^^^``````````````````````````````''!_'   vYunrnxcXYYCQOwqdh*hu[1)(([?--[)1-~~+II::II::::,,,,,^`^'',,`,,,:Il;l;:;l!I_~~+-]-)/jf/xxuXzYY$$I  '''''''''''''''''''''................................
,,,^^^^^^^^^^^^^^^^^^^^^^^``````````````'`-+     urfjrnvcXYULQ0Zqdkao#bx]|//))1//[-11)]-_+~~!lII,I`,:::I!;:Il::;,,I~I!lIlI~_-]1((|)|rnucxvzYXw#$$z  .''''''''''''''''''''''............''''''''''''''...
,,,,,,,,,,,^^^^^^^^^^^^^^^^^^^^^^^^^^^`':]!.     futfrvzzzYJLQQOwdhoo*MBkn|t/()/|)[(([1)[)++~~i~:I~!;l~!IiiIiii!IlIi_-])1?(t/)(fjrxxuXYxzxXUXYa@M$W  .'''''''''''''''''''''............'''''''''''''''''
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,^``--I.       JuxuzYYYJLLL00Oqbo*###8Bkx|ffjffjf/|//)[]/())]_~!+!il~l!+??-__-?-_))])1(/f//xxuzczUXnYncXJYzuq@8$$l .'''''''''..''''''''''''''''''''''''''''''''''''''
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,^`^i]!`         'JUzXYUJQQQQQ0OZqba*MMW8B@pcuuuxfjx/|t|()|t/((//))]-~i-?~??]|t/(t1|fffxfncUYzuXczYJzXXUzYQnccUm$W$$1 .'``````````'''''''''''''''''''''''''''''''''''''
,,,,,,,,,,,,,,,,,,,^^^^^^^^^^^^^``,i]_:            iqLUYJQQ00QQQLZwpba#WWWB@$@0/uxrfxjxrfrrr/(tf/tjf1)[[(//1)[1//txjunjfrunuXYcXJJYJYYYcuzLL1ncLO0$$$$c .``````````````'''''''''''''''''''''''''''''''''
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:-]~:.              _mLLQ00OOQQ000mqdba#8WB@@$$BOuuuvuccuj/jfjjrfr(jrruxf/fff/))fffxcnzzczYzJCLXYcYXUUzcJJQY[fcCOOd$$$$L  `````````````'''''''''''''''''''''''''''''''''
::::::::::::::::::::::::::::::;!l;`                  [dOOOZOOOQJJLOOwhka#88B@$$$$MYxXXXcccunnuzzvzuxfrjfnjnxnnrtfjffrrxvccUJJJYzXLUzLUvJOQOU)(zUCkab@$$$a  '```````````'''''''''''''''''''''''''''''''''
::::::::::::::::::::::::::::I,.                       ?apwmmmmOZLLQ0Owpbk*M8@$$$$$$*zXYYUJJJUzXJYYzcuunnxzuuxuxcnvvnuxxnuzYYUYQQJCJJJzCJOmZCf(nU0aakb@$$$@  '````````````````````````````````````````'''
:::::::::::::::::::::::,,I;^                           ?MpwmwmdmOCL0OOmmdh*#8$$$$$$$$mzJCCCJCCCLLQJJUUUXcvuczununvxrucccccXUUYXYXYJCJCQOOOZu/(rYwakhkbB$$$$i ,,'''''''```````````````````````````````''`
:::::::::::::::::::::::II:                              -#bppqqwwQLQOOOZmqpdaW@$$$$$$$B0zJQC00QQQQLQ00QCJYYUUYUJJJYXYzzczcczXXYUCLCC0OOZmZpj]txQaahkk8@$$$$$/  `:::,,```````````````````````````````````
:::::::::::::::::::;;II`                                 IBkppppdm00OLQ0mwmZmphM$$$$$$$$M00Zm0OCOZO0OOO00LCCJCCCLCCCCJJUUUUUJLLLQQQOZZwwwwk/-fx0#okkW$$$$$$$$C     ''``,`^``````````````````````````````
::::::::::::::::::IlI,'                                   !WkbbdpqmOO00QOwmwmmqb*W@$$$$$$$b0mmmZwwwwwwmmOQOO0QQ00QQQQQLLLLQQQQQ00Zmmmmwqqpb|-jcp*kp*B@B$@$$$$$b          ..``::,````````````````````````
;;;;;;;;;;;:::IIi!;,'    .                                 ,8obkddqwmZ00mqZmwqqdhoW@$$$$$$$$d0OwwwqqqqqZZmmmOOOOOZ0O0QQQQ00OOOO00mwwwwpppddt[rQaakb#B@@$$$$$$$$8               '`::,````````````````````
;;;;;;;;;;:I!_~l:'                                          ^*ahhkkpwOwOmmmmwqpqpk*#B$$$$$$$$$dOwqqppdpwppqqwwwmmmmZmZmmmZZZmmmmwwqpdppddbpr(zdakd*BWB@$$$$$$$$$$`                  .``^,^^`````````````</pre></div>
      </header>
      <div class="article-layout site-shell">
        <nav class="article-toc" aria-label="On this page">
          <p>On this page</p>
          <a href="#facts">The short facts</a>
          <a href="#work-samples">What my public work demonstrates</a>
          <a href="#what-i-build">What I build</a>
          <a href="#authored-software">Published packages</a>
          <a href="#grounding">How the work is grounded</a>
          <a href="#advice-boundary">Advice and review boundary</a>
          <a href="#contact">Site boundary</a>
          <a href="#citing">Citing this work</a>
        </nav>
        <div class="article-body">
          <section id="facts">
            <h2>The short facts</h2>
            <table class="facts facts--kv">
              <tbody>
                <tr><th scope="row">Name</th><td>Ryan Duguid</td></tr>
                <tr><th scope="row">Based in</th><td>Newcastle, NSW, Australia</td></tr>
                <tr><th scope="row">Not to be confused with</th><td>The US software product executive of the same name</td></tr>
                <tr><th scope="row">Field</th><td>Accounting, Australian taxation, payroll and statutory compliance</td></tr>
                <tr><th scope="row">Professional body</th><td>I am a Provisional CA ANZ Member. CA ANZ has not endorsed this site or its tools.</td></tr>
                <tr><th scope="row">Certifications</th><td>
                  <p>SAP S/4HANA certified in <a href="https://www.credly.com/badges/750e7557-ab6d-4b28-a241-8252c263613a/public_url">Financial Accounting (FI)</a> and <a href="https://www.credly.com/badges/0f753c71-5f49-41be-8519-51e81030a8f1/public_url">Management Accounting (CO)</a></p>
                  <p class="credential-inline">
                    <img class="credential-inline__badge" src="/assets/credentials/xero-certified-specialist-level-3-badge.png" width="318" height="318" loading="lazy" decoding="async" alt="" />
                    <span class="credential-inline__text">I am a Xero Certified Specialist, Level 3, awarded 1 July 2026 and valid until 1 July 2027. <a href="/evidence/#xero-certification">Read the certificate in the evidence register</a>, or explore my <a href="/tools/xero-trial-balance/">Xero trial balance export and review workflow</a>.</span>
                  </p>
                </td></tr>
                <tr><th scope="row">Education</th><td>Bachelor of Commerce (Accounting), University of Newcastle</td></tr>
                <tr><th scope="row">Code</th><td><a href="https://github.com/ryanduguid">github.com/ryanduguid</a></td></tr>
                <tr><th scope="row">LinkedIn</th><td><a href="https://www.linkedin.com/in/ryan-duguid">linkedin.com/in/ryan-duguid</a></td></tr>
              </tbody>
            </table>
          </section>
          <section id="work-samples">
            <h2>What my public work demonstrates</h2>
            <p>I build accounting tools that let a second person trace the inputs, calculation and review decision. Three examples show the work in different forms:</p>
            <ul>
              <li><strong>Cash flow modelling.</strong> The <a href="/examples/profit-vs-cash-flow/">Lumbridge case</a> connects a fictional business's profit, receipt dates and available cash through an Excel forecast and management briefing.</li>
              <li><strong>Month-end review.</strong> The <a href="/evaluate/#month-end-preview">accounting review pipeline</a> turns trial balance files into inspectable exceptions, including a creditors difference and a financial year comparison warning.</li>
              <li><strong>Excel implementation.</strong> <a href="https://github.com/ryanduguid/Ozzit">Ozzit</a> provides native LAMBDA functions with editable examples and visible arithmetic.</li>
            </ul>
            <p>These examples use fictional data. Their evidence covers only the supplied cases and stated limits, and claims no client outcome.</p>
          </section>
          <p>
            The tools cite legislation, regulator guidance or an accounting standard
            and refuse a result when the supplied facts do not settle the test.
          </p>
          <p>
            The <a href="/evidence/">evidence register</a> links identity,
            releases, source reviews, repository controls and reproducible tests. It
            also states what those records cannot establish.
          </p>


          <section id="what-i-build">
            <h2>What I build</h2>
            <p>
              The tools extract records into a reviewable shape, apply deterministic
              calculations or stop incomplete work before it reaches a reviewer. AI
              workflows call those fixed-scope tools; they do not replace the calculation,
              invent missing facts or approve the result.
            </p>
            <ul>
              <li><a href="/tools/payday-super/">Payday Super checker</a>: tests super timing and SG charge exposure against a payroll export.</li>
              <li><a href="/tools/workpaper-review-gate/">Workpaper Review Gate</a>: keeps incomplete packs off the review desk.</li>
              <li><a href="/tools/xero-trial-balance/">Xero trial balance export</a>: produces a CSV that has to balance.</li>
              <li><a href="/tools/ato-benchmarks/">ATO benchmark comparison</a>: compares a small business with the ATO benchmarks on your own machine.</li>
              <li><a href="/tools/coal-lsl-levy/">Coal LSL levy calculator</a>: applies the section 3B eligible wages test in your browser.</li>
              <li><a href="/tools/wip-schedule/">Construction WIP schedule</a>: calculates work in progress under AASB 15.</li>
              <li><a href="/tools/subcontractor-ledgers/">Subcontract ledger skills</a>: agent workflows for construction and mining ledgers.</li>
              <li><a href="/tools/trust-distributions/">Trust distribution checks</a>: classifies section 100A risk zones and allocates income under Division 6.</li>
              <li><a href="/tools/company-tax-franking/">Company tax and franking checks</a>: runs the base rate entity test and tracks the franking account.</li>
              <li><a href="/tools/australian-tax-ai-agents/">Australian tax tools for AI agents</a>: compares a local calculation server with document lookup.</li>
            </ul>
          </section>

          <section id="authored-software">
            <h2>Published packages</h2>
            <ul>
              <li><a href="https://github.com/ryanduguid/australian-accounting/tree/main/packages/payday-super-checker">payday-super-checker</a>, with its <a href="https://pypi.org/project/payday-super-checker/">PyPI distribution</a>.</li>
              <li><a href="https://github.com/ryanduguid/australian-accounting/tree/main/apps/aus-accounting-mcp">Aus Accounting MCP</a>, listed on <a href="https://glama.ai/mcp/servers/ryanduguid/australian-accounting">Glama</a> and in the <a href="https://registry.modelcontextprotocol.io/v0.1/servers/io.github.ryanduguid%2Faus-accounting/versions/latest">official MCP Registry</a>.</li>
            </ul>
          </section>

          <section id="grounding">
            <h2>How the work is grounded</h2>
            <p>I use sources such as the <a href="https://www.ato.gov.au/tax-rates-and-codes/key-superannuation-rates-and-thresholds/super-guarantee">Australian Taxation Office's super guarantee rate table</a> and the <a href="https://www.legislation.gov.au/C2004A04402/latest/text"><em>Superannuation Guarantee (Administration) Act 1992</em></a>. The <a href="/rates/super-guarantee/">rate history</a> records the figures, source dates and review limits.</p>
            <ul>
              <li><strong>Primary sources only.</strong> Rates, thresholds and tests come from Commonwealth legislation, the regulator's published guidance or the accounting standard, never from a summary of one.</li>
              <li><strong>Exact currency arithmetic.</strong> Currency calculations in the statutory engines use fixed-point decimals, so binary floating-point drift never reaches a figure someone might lodge.</li>
              <li><strong>Refusal over guessing.</strong> The tools have explicit refusal and unknown states, with release-specific limits. Payday Super Checker 0.1.7 marks a receipt as unknown when it has an on-time date but no amount. Version 0.1.6 assumed the full amount arrived. <a href="/tools/payday-super/#receipt-amount">Check the version-specific receipt rules</a> before relying on a result.</li>
              <li><strong>Synthetic data in public.</strong> Every public fixture, test and example uses fictional data. Client information stays out of public repositories entirely.</li>
              <li><strong>A person signs off.</strong> The tools calculate and check; a person makes the judgement and lodges.</li>
            </ul>
          </section>

          <section id="advice-boundary">
            <h2>Advice and review boundary</h2>
            <p>
              I am not a registered tax agent or BAS agent.
              Nothing here is tax, legal or financial advice. The tools are review aids
              for a qualified professional, not compliance determinations.
            </p>
          </section>

          <section id="contact">
            <h2>Site boundary</h2>
            <p>
              This is a personal index of open source accounting tools I build. It is
              not a practice, and I am not accepting professional engagements through
              this site.
            </p>
            <p>
              This site does not offer tax or BAS agent services or take requests for tax
              advice or lodgement. Do not post taxpayer information or client files
              to public repositories.
            </p>
          </section>

          <section id="citing">
            <h2>Citing this work</h2>
            <p>
              Duguid, R. (2026). <em>Australian computational accounting tools</em>.
              https://duguid.com.au/. Each tool page names the source it is
              grounded in, and each linked repository carries its own licence and
              disclaimer.
            </p>
          </section>

          <p class="byline">
            I write and maintain this site in my own time and on my own equipment.
          </p>
        </div>
      </div>
    </article>
  </main>
{% include site-footer.html %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "ProfilePage",
        "@id": "https://duguid.com.au/about/#webpage",
        "url": "https://duguid.com.au/about/",
        "name": "About Ryan Duguid, accountant in Newcastle, NSW",
        "description": "I'm Ryan Duguid, an accountant in Newcastle, NSW, Australia. I build open source computational accounting tools. I am a Provisional CA ANZ Member and a Xero Certified Specialist, Level 3. CA ANZ has not endorsed this site or its tools.",
        "inLanguage": "en-AU",
        "datePublished": "2026-08-24",
        "dateModified": "2026-09-24",
        "isPartOf": { "@id": "https://duguid.com.au/#website" },
        "mainEntity": { "@id": "https://duguid.com.au/about/#person" },
        "about": { "@id": "https://duguid.com.au/about/#person" },
        "breadcrumb": { "@id": "https://duguid.com.au/about/#breadcrumb" }
      },
      {
        "@type": "BreadcrumbList",
        "@id": "https://duguid.com.au/about/#breadcrumb",
        "itemListElement": [
          { "@type": "ListItem", "position": 1, "name": "Home", "item": "https://duguid.com.au/" },
          { "@type": "ListItem", "position": 2, "name": "About", "item": "https://duguid.com.au/about/" }
        ]
      },
      {
        "@type": "Person",
        "@id": "https://duguid.com.au/about/#person",
        "name": "Ryan Duguid",
        "givenName": "Ryan",
        "familyName": "Duguid",
        "url": "https://duguid.com.au/about/",
        "mainEntityOfPage": "https://duguid.com.au/about/",
        "jobTitle": "Accountant",
        "alternateName": "Ryan Duguid, accountant in Newcastle, NSW",
        "disambiguatingDescription": "Australian accountant in Newcastle, NSW and author of aus-accounting-mcp. Distinct from the US software product executive of the same name.",
        "description": "I'm Ryan Duguid, an accountant in Newcastle, NSW, Australia. I build open source computational accounting tools. I am a Provisional CA ANZ Member and a Xero Certified Specialist, Level 3. CA ANZ has not endorsed this site or its tools.",
        "knowsLanguage": "en-AU",
        "nationality": { "@type": "Country", "name": "Australia" },
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Newcastle",
          "addressRegion": "NSW",
          "addressCountry": "AU"
        },
        "alumniOf": {
          "@type": "CollegeOrUniversity",
          "name": "University of Newcastle",
          "url": "https://www.newcastle.edu.au/"
        },
        "knowsAbout": [
          "Australian taxation",
          "Superannuation guarantee and payday super",
          "Superannuation guarantee charge",
          "Division 7A",
          "Trust distributions and section 100A",
          "Fringe benefits tax",
          "ATO small business benchmarks",
          "AASB 15 construction work in progress",
          "Coal Mining Industry Long Service Leave payroll levy",
          "Xero",
          "SAP S/4HANA financial and management accounting",
          "Model Context Protocol",
          "Excel LAMBDA functions",
          "Power Query",
          "Deterministic AI workflows for accounting"
        ],
        "hasCredential": [
          {
            "@type": "EducationalOccupationalCredential",
            "credentialCategory": "Professional membership",
            "name": "Provisional CA ANZ Member",
            "recognizedBy": {
              "@type": "Organization",
              "name": "Chartered Accountants Australia and New Zealand",
              "url": "https://www.charteredaccountantsanz.com/"
            }
          },
          {
            "@type": "EducationalOccupationalCredential",
            "credentialCategory": "certification",
            "name": "SAP Certified, SAP S/4HANA Cloud Private Edition, Financial Accounting (C_TS4FI)",
            "url": "https://www.credly.com/badges/750e7557-ab6d-4b28-a241-8252c263613a/public_url",
            "recognizedBy": { "@type": "Organization", "name": "SAP", "url": "https://www.sap.com/" }
          },
          {
            "@type": "EducationalOccupationalCredential",
            "credentialCategory": "certification",
            "name": "SAP Certified, SAP S/4HANA Cloud Private Edition, Management Accounting (C_TS4CO)",
            "url": "https://www.credly.com/badges/0f753c71-5f49-41be-8519-51e81030a8f1/public_url",
            "recognizedBy": { "@type": "Organization", "name": "SAP", "url": "https://www.sap.com/" }
          },
          {
            "@type": "EducationalOccupationalCredential",
            "credentialCategory": "certification",
            "name": "Xero Certified Specialist, Level 3",
            "url": "https://duguid.com.au/evidence/#xero-certification",
            "dateCreated": "2026-07-01",
            "expires": "2027-07-01",
            "recognizedBy": { "@type": "Organization", "name": "Xero", "url": "https://www.xero.com/" }
          },
          {
            "@type": "EducationalOccupationalCredential",
            "credentialCategory": "degree",
            "name": "Bachelor of Commerce (Accounting)",
            "recognizedBy": { "@type": "CollegeOrUniversity", "name": "University of Newcastle" }
          }
        ],
        "sameAs": [
          "https://github.com/ryanduguid",
          "https://www.linkedin.com/in/ryan-duguid",
          "https://www.openaccountants.com/network/368408e7-bf06-431d-95a6-0b72e168ddeb"
        ]
      }
    ]
  }
  </script>
</body>
</html>
